<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Blog Store is a web application where users can keep a track of the collection of blogs or some memorable lifetime events..</p>
    <p>You can add your new blog by clicking NEW BLOG in the top righgt corner, To view all the blogs, you may visit the BLOGS</p>
    <p>For more queries feel free to drop a mail to nischalamekala@gmail.com</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>